
@import "variables";
@import "fresh_api";
//@import "~bootstrap/scss/bootstrap"; /** TODO.. drop bootstrap!*/

/*
* {
  margin: 0;
  font-family: Radley, Questial, serif;
}

 */

/*
.hm-pg {

  position: relative;

  .pg-img {
    min-height: 90vh;
    width: 100%;
    background: #2e362d;
  }

  .intro {
    position: absolute;
    bottom: 7vh;
    right: 5%;
    display: grid;

    span {
      color: map-get($colors, primary_white);
      font-size: 1.3em;
      font-weight: bold;
    }
  }
}

*/

.user-forms {
  padding: 4em 2em 2em 3em;
  text-align: center;
  box-shadow: -6px 4px 21px -1px #d6ced6;
  //position: absolute;
  width: 575px;
  height: 728px;
  left: 375px;
  top: 202px;
}

.user-options {

  a {
    padding-left: .7em;
  }

  .another-option {
    font-weight: bold;
  }
}

.user-page {
  display: grid;
  justify-content: center;
}

.adm-reports {

  .content {
    padding: 1em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  h1 {
    color: black;
    //width: 145px;
    //height: 51px;
    //left: 204px;
    //top: 196px;

    font-family: Radley;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;

  }

  .item {
    //position: absolute;
    //width: 537px;
    //height: 355px;
    //left: 111px;
    //top: 178px;
    display: inline-block;

    background: #E6F0EE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;


    ul {

      li {

        margin: 1em;
        list-style: none;
        padding: 1em;

        //width: 483px;
        //height: 104px;
        //left: 141px;
        //top: 723px;

        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

#admin-nav {
  background: #4a5f9c;
  color: map-get($colors, primary_white);


  .admin-toggle {
    cursor: pointer;
    margin-left: 1em;
  }

  nav {
    a {
      color: map-get($colors, primary_white);
      margin-left: 1em;
      text-decoration: none;
    }
  }
}